# pomocné soubory od Xaringanu / remark.js
# ========================================

libs/* linguist-vendored

# vlastní prezka
# ==============
*.odp linguist-documentation
*.html linguist-documentation
*.pdf linguist-documentation
*_files/* linguist-documentation
*.Rmd linguist-detectable=true

# Source files
# ============
*.Rdata text
*.rdb   binary
*.rds   binary
*.Rd    text
*.Rdx   binary
*.Rmd   text
*.R     text
*.csv   text
*.xlsx  binary
*.xls   binary   